.movie-card{
  width: 230px;
  height: 330px;
  background-size: cover;
  cursor: pointer;
  transition: 0.6s;
  z-index: 3;
  margin: 20px;
  position: relative;
}
.movie-card::before{
  position: relative;
  width: 100%;
  padding-top: 150%;
  content: '';
  display: block;
  min-width: 100%;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  transition: all 1s;
  color:white;
  font-weight: bold;
  overflow-wrap:break-word;
  box-sizing: border-box;
  padding: 10%;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay:hover{
  opacity: 1;

}


.movie-card:hover{
    transform: scale(1.3) translateZ(20px);
    z-index: 2;
}

.movie-detail-Info{
  padding-top: 40px;
  background: none;
  
}

.movieTitle{
  justify-content: left;
}

.movie-detail-Info div{
  padding: 5px;
  background-color: rgba(43, 41, 41, 0.5);
  color: rgb(253, 236, 137);
  font-size: 0.8rem;
  text-align: center;
}


@media (min-width:375px) and (max-width:1025px) {
  .movie-card {
    margin-right: 0 100px 0 50px;
  }
}
@media (min-width:1025px){
  .movie-card .overlay {
      font-size:1vw;
  }
  .movie-card .movie-detail-Info{
      font-size:0.8vw;
  }
}